@use "sass:map";

$breakpoints: (
  small: 0,
  medium: 600px,
  medium-large: 900px,
  tablet: 1024px,
  large: 1200px,
);

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (width <= map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$breakpoint} not found in $breakpoints map.";
  }
}

@function responsive-clamp($min-size, $max-size) {
  @return clamp(#{$min-size}px, calc(#{$min-size}px + (#{$max-size} - #{$min-size}) * ((100vw - 320px) / (1200))), #{$max-size}px);
}
