$main-violet:#8155FF;
$dark-violet:#1D2030;
$function-text: #FF9255;
$yellow-text: #FCFF55;
$dark-background: #101220;
$white: #FFFFFF;

$main-font: "Rubik", serif;
$secondary-font: "Numans", serif;
$jacquard-font: "Jacquard 12", serif;