<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Nahuel Silva - Desarrollador Web en Uruguay</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Numans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>

</style>